.social-media {
    width: 160px;
    min-width: 82px;
    padding: 15px 0 15px 0;
    background-color: #FFFFFF;
    border-radius: 12px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    position: relative;

    &__text {
        color: #1A1A1A;
        font-size: 15px;
        font-family: 'MuseoSansCyrl700';
    }
}

.social-media:hover {
    border-radius: 40px;
    transition: all 0.3s ease 0s;
}

// .social-media:after {
//     content: "";
//     background: #1abc9c;
//     display: block;
//     position: absolute;
//     padding-top: 100%;
//     padding-left: 150%;
//     margin-left: -20px;
//     margin-top: -120%;
//     opacity: 0;
//     transition: all 0.8s
// }

// .social-media:active:after {
//     padding: 0;
//     margin: 0;
//     opacity: 1;
//     transition: 0s
// }

@media (max-width: 1139px) {
    .social-media {
        width: calc(100vw / (1200 / 160));
        padding: calc(100vw / (1200 / 15)) 0 calc(100vw / (1200 / 15)) 0;

        &__text {
            font-size: calc(100vw / (1200 / 15));
        }
    }
}

@media (max-width: 767px) {
    .social-media {
        gap: calc(100vw / (1200 / 8));
        border-radius: 40px;

        &__text {
            font-size: 8px;
        }
    }
}