.social-media {
    &__button {
        // transition: all 0.3s ease 0s;
    }
}

.social-media:hover {
    // border-radius: 40px;
    // transition: all 0.3s ease 0s;
}

@media (max-width: 1079px) {
    .social-media {
        &__button {
            width: calc(100vw / (1280 / 56));
            height: calc(100vw / (1280 / 56));
        }
    }
}

@media (max-width: 767px) {
    .social-media {
        &__button {
            width: 35px;
            height: 35px;
        }
    }
}